<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">tinymce.init({ selector:'textarea', forced_root_block : ""});</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <div class = "panel default-panel">
        <h3>Create new post</h3>
    <form action="" method = "post">
        <textarea class="form-control" rows="10" cols="50" name="thread"></textarea>
    </div>
    <button type= "submit" class = "btn btn-success" id = "save-btn">Submit</button>

    </form>
</div>


</div>

</body>
</html>
